= link_to 'https://database.oxfordjournals.org/content/2015/bav067.full' do
  .title EpiFactors: a comprehensive database of human epigenetic factors and complexes.
.authors Yulia A. Medvedeva, Andreas Lennartsson, Rezvan Ehsani, Ivan V. Kulakovskiy, Ilya E. Vorontsov, Pouda Panahandeh, Grigory Khimulya, Takeya Kasukawa, The FANTOM Consortium and Finn Drabløs.
%span.journal Database (2015) 2015 : bav067;
%span.doi doi: 10.1093/database/bav067
