= link_to 'https://academic.oup.com/nar/article/51/D1/D564/6814453' do
  .title EpiFactors 2022: expansion and enhancement of a curated database of human epigenetic factors and complexes.
.authors  Daria Marakulina, Ilya E Vorontsov, Ivan V Kulakovskiy, Andreas Lennartsson, Finn Drabløs and Yulia A Medvedeva.
%span.journal Nucleic Acids Research (2022);
%span.doi doi: 10.1093/nar/gkac989
