.expressions-table-actions
  %button.toggle-sample-format Full/short names
  %button.download{type: 'button'} Get CSV
  %input{type: "text", value: 'expressions.csv', class: 'csv-filename'}
%table.gene_expression_by_sample.toggle-sample-format-target.tablesorter
  %thead
    %tr
      %th.group-text Kind of sample
      %th.sample_link{data: {'sample-format' => 'short'}} Sample
      %th.expression_bar{'data-placeholder' => "Try `>=100` or `100 to 1000`", 'data-value' => '>10'} Expression

  %tbody
    - expressions_by_samples.each do |sample, expression|
      %tr
        %td= sample.sample_kind
        %td= sample
        %td= expression
