%table.expression_statistics.key_value_info
  %tbody
    %tr
      %td Expression range:
      %td= statistics.range

    %tr
      %td Mean expression:
      %td= statistics.mean_with_stddev
    %tr
      %td Median expression:
      %td= statistics.median
