.comb {
  // TODO:  '?' after alternative group is opaque but not lighgreen
  //        while '+' after alternative group is orange. Not consistent design

  .comb_optional {
    opacity: 0.5;
  }

  .comb_alternative_group {
    background-color: lightgreen;
  }
  .comb_alternative { // One item of alternative group
    font-weight: bolder;
  }

  .comb_multiple { // Multiple imples alternative group inside
    background-color: orange; // colorize '+' sign
    .comb_alternative_group { // More specific selector than simple alternative group
      background-color: orange;
    }
  }
}
