// Place all the styles related to the protein_complexes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#protein-complexes {
  th:nth-child(14) {
    min-width: 200px;
  }
}

.uniprot_comb {
  // TODO:  '?' after alternative group is opaque but not lighgreen
  //        while '+' after alternative group is orange. Not consistent design

  .uniprot_comb_optional {
    opacity: 0.5;
  }

  .uniprot_comb_alternative_group {
    background-color: lightgreen;
  }
  .uniprot_comb_alternative { // One item of alternative group
    font-weight: bolder;
  }

  .uniprot_comb_multiple { // Multiple imples alternative group inside
    background-color: orange; // colorize '+' sign
    .uniprot_comb_alternative_group { // More specific selector than simple alternative group
      background-color: orange;
    }
  }
}

