.table-actions {
  padding-left: 10px;
}

.tablesorter {
  th {
    min-width: 150px;
  }
  th.splitted_terms_filter {
    min-width: 200px;
  }

  input.tablesorter-filter {
    height: 28px;
  }
}

#popover-target {
  label {
    text-align: left;
    display: block;
    width: 100%;
  }
}

.loading_table, .loading_figure {
  display: inline-block;
}

.loading_logo {
  display: inline-block;
  vertical-align: middle;
  $size: 34px;
  height: $size;
  width: $size;
  background-image: image-url("loading.gif");
  background-size: $size $size;
}
