.container.action-index {
  &.controller-genes, &.controller-protein_complexes, &.controller-histones {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

h4 { margin-left:20px; }

.hocomoco_link {
  padding-top: 5px;
  padding-bottom: 5px;
  img {
    padding-left: 30px;
  }
}

.csv-filename {
  padding: 2px;
  margin-left: 4px;
  height: 24px;
  width: 200px;
}

.tooltip {
  width: 250px;
}

.loading_table {
  display: inline-block;
}
.loading_figure {
  display: block;
}

.loading_logo {
  display: inline-block;
  vertical-align: middle;
  $size: 34px;
  height: $size;
  width: $size;
  background-image: image-url("loading.gif");
  background-size: $size $size;
}
