table:not(.tablesorter) {
  tr, td {
    border-color: #a7a7a7;
  }
}

table.gene_expression_by_tissue, table:not(.tablesorter) {
  margin-left: 20px;
}

h4 { margin-left:20px; }

.expression-bar {
  background-color: red;
  height: 7px;
}

.hocomoco_link {
  padding-top: 5px;
  padding-bottom: 5px;
  img {
    padding-left: 30px;
  }
}

.csv-filename {
  padding: 2px;
}
