.container.action-index {
  &.controller-genes, &.controller-protein_complexes, &.controller-histones {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

table:not(.tablesorter) {
  tr, td {
    border-color: #a7a7a7;
  }
}

table.gene_expression_by_tissue {
  td,th {
    &:nth-child(3) {
      min-width: 500px;
      display: none;
    }
  }
}

h4 { margin-left:20px; }

.expression-bar {
  background-color: red;
  height: 7px;
}

.hocomoco_link {
  padding-top: 5px;
  padding-bottom: 5px;
  img {
    padding-left: 30px;
  }
}

.csv-filename {
  padding: 2px;
  margin-left: 4px;
  height: 24px;
  width: 200px;
}
